<div class="container">
    <h4 class="text-center fw-bold titre">Bienvenu {{formateurConnect.prenomF}} {{formateurConnect.nomF}}</h4>
    <button class="btn my-5 py-2 fw-bold " style="background-color: #D9b; color: white;" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Enregistrer une note</button>
    <div class="table-responsive overflow-y-scroll mt-2" style="height: 55vh;">
        <table class="table align-items-center  p-2">
            <thead class="sticky-top fond-bleu">
                <tr class="">
                    <th scope="col" class="fond-bleu text-white">Semestre</th>
                    <th scope="col" class="fond-bleu text-white">Classe</th>
                    <th scope="col" class="fond-bleu text-white">Année Scolaire</th>
                    <th scope="col" class="fond-bleu text-white">Matière de l'évaluation</th>
                    <th scope="col" class="fond-bleu text-white">Apprenant</th>
                    <th scope="col" class="fond-bleu text-white">Valeur</th>
                    <th scope="col" class="fond-bleu text-white">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eleve of tabNotes">
                    <td>{{eleve.semester}}</td>
                    <td>{{eleve.Classe}} </td>
                    <td>{{eleve.date }} </td>
                    <td>{{eleve.type}}</td>
                    <td>{{eleve.apprenants}} </td>
                    <td>{{eleve.notes}} </td>
                    <td>
                        <button class="btn btn-outline-danger me-2">❌</button>
                        <button class="btn btn-outline-danger">✏</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Ajout Evaluation -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Ajouter une note</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'enregistrement -->
                <form>
                    <div class="mb-3">
                        <label for="classe" class="form-label">classe</label><br>
                        <select class="form-select" name="classe" aria-label="Default select example"
                            [(ngModel)]="classe">
                            <option selected>{{formateurConnect.classeF}}</option>
                        </select>
                        <!-- <input type="text" id="semester" name="semester" class="form-control" [(ngModel)]="evaluationFormModel.semester" required> -->
                    </div>

                    <div class="mb-3" *ngFor=" let semestre of formateurConnect.evaluation">
                        <label for="semester" class="form-label">Semester</label>
                        <select class="form-select" aria-label="Default select example" name="semester"
                            [(ngModel)]="semester">
                            <option selected>Choisisez un Semestre</option>
                            <option value="{{semestre.semester}}">Semestre {{semestre.semester}} </option>
                        </select>
                        <!-- <input type="text" id="semester" name="semester" class="form-control" [(ngModel)]="evaluationFormModel.semester" required> -->
                    </div>

                    <div class="mb-3" *ngFor=" let semestre of formateurConnect.evaluation">
                        <label for="date" class="form-label" >Année Scolaire</label >
                            <select class="form-select" aria-label="Default select example" name="date" [(ngModel)]="date">
                                <option selected>Année Scolaire</option>
                                <option value="{{semestre.date | date:'YYYY'}}"> {{semestre.date| date:'YYYY'}}</option>
                            </select>
                        <!-- <input type="text" id="semester" name="date" class="form-control" [(ngModel)]="date" value="{{semestre.date}}"> -->
                        <!-- <input type="date" id="date" name="date" class="form-control" [(ngModel)]="date"> -->
                    </div>

                    <div class="mb-3" >
                        <label for="type" class="form-label">Evaluation</label>
                        <select class="form-select" aria-label="Default select example" name="type"  [(ngModel)]="type">
                            <option selected>Choisisez une evaluation</option>
                            <ng-container *ngFor=" let semestre of formateurConnect.evaluation">
                            <option value="{{semestre.type}} {{semestre.subject}}">{{semestre.type}} {{semestre.subject}}</option>
                            </ng-container>
                        </select>
                        <!-- <input type="text" id="type" name="type" class="form-control" [(ngModel)]="evaluationFormModel.type" required> -->
                    </div>

                    <div class="mb-3" >
                        <label for="student" class="form-label">Apprenant</label>
                        <select class="form-select" aria-label="Default select example" name="student"
                            [(ngModel)]="student" >
                            <option selected >listes des apprenants</option>
                            <ng-container *ngFor="let eleve of tabApprenants">
                            <option  *ngIf="eleve.niveau==formateurConnect.classeF" value="{{eleve.prenomApprenant}}">{{eleve.prenomApprenant}} {{eleve.nomApprenant}}</option>
                            </ng-container>
                        </select>
                        <!-- <input type="text" id="status" name="status" class="form-control" [(ngModel)]="evaluationFormModel.status" required> -->
                    </div>

                    <div class="mb-3">
                        <label for="note" class="form-label">Notes</label>
                        <input type="text" id="note" name="note" class="form-control"  [(ngModel)]="note">
                        <!-- <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="evaluationFormModel.subject" required> -->
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn save" data-bs-dismiss="modal"
                    (click)=" ajoutNotesValider()">Ajout</button>
            </div>
        </div>
    </div>
</div>